.practice{
  padding-top: 150px;
  flex-direction: column;
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__background{
    position: relative;
    width: 40%;
    left: -15px;
    img{

    }
  }
  &__content{
    width: 50%;
    &-inner{
      width: 70%;
    }
  }
  &__decor{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orange;
    border-radius: 10px;
    box-shadow: 2.179px 24.905px 80.1px 9.9px rgba(0, 92, 152, 0.75);
    &_question{
      top: 80px;
      right: 20px;
      img{
        width: 46px;
        height: 84px;
        padding: 0 0 12px 12px;
      }
    }
    &_tel{
      bottom: 80px;
      left: 90px;
    }
    &_message{
      width: auto;
      height: auto;
      left: calc(50% - 115px);
      top: calc(50% - 46px);
      opacity: .7!important;
      transform: translate(-50% , -50%);
    }
  }
  &__title{
    font-weight: 700;
    color: $blue2;
    line-height: 1.3;
    @media(min-width: 1025px){
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
  &__text{
    margin-bottom: 40px;
    font-weight: normal;
    color: $grey;
    line-height: 1.3;
    @media(min-width: 1025px){
      font-size: 20px;
    }
  }
}
