.studying{
  padding-top: 60px;
  @media(min-width: 769px){
    padding-top: 120px;
  }
  &__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
