.teachers{
  padding-top: 60px;
  flex-direction: column;
  align-items: center;
  @media(min-width: 769px){
  padding-top: 150px;
  }
  &__wrapper{
    width: 82%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media(min-width: 769px){
      justify-content: center;
    }
  }
  &__item{
    @media(max-width: 500px){
    &:nth-of-type(even){
      margin-right: 0;
    }
  }
    img{
      width: 100%;
      height: auto;
    }
    &_quarter{
      width: 47%;
      margin-right: 6%;
      margin-bottom: 60px;
      @media(min-width: 500px){
      width: 22%;
      margin-right: 4%
      }
      img{
        margin-bottom: 20px;
        @media(min-width: 1025px){
          margin-bottom: 30px;
        }
      }
      p{
        margin-bottom: 12px;
        @media(min-width: 1025px){
          margin-bottom: 22px;
        }
      }
      &:nth-of-type(4){
        margin-right: 0;
      }
    }
    &_fivefold{
      width: 47%;
      margin-right: 6%;
      margin-bottom: 40px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
        margin-right: 0;
      }
      @media(min-width: 500px){
      width: 18%;
      margin-right: 2.5%;
      margin-bottom: 0;
      }
      img{
        margin-bottom: 20px;
        @media(min-width: 1025px){
          margin-bottom: 40px;
        }
      }
      p{
        margin-bottom: 12px;
        @media(min-width: 1025px){
          margin-bottom: 18px;
        }
      }
      &:nth-last-of-type(1){
        margin-right: 0;
      }
    }
    &-line{
      width: 80px;
      height: 4px;
      border-radius: 10px;
      background: $orange;
    }
  }
  &__name{
    font-size: 14px;
    color: $blue2;
    font-weight: 500;
    line-height: 1.5;
    @media(min-width: 500px){
      font-size: 16px;
    }
    @media(min-width: 769px){
      font-size: 20px;
    }
  }
}
