.time{
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  @media(min-width: 1025px){
      padding-top: 90px;
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width: 500px){
      flex-direction: row;
      align-items: center;
    }
    @media(min-width: 769px){
      align-items: center;
      margin-top: 70px;
    }
  }
  &__background{
    width: 70%;
    position: relative;
    @media(min-width: 769px){
    width: 50%;
    }
  }
  &__content{
    width: 100%;
    margin-top: 30px;
    @media(min-width: 500px){
      width: 70%;
    }
    @media(min-width: 769px){
    width: 50%;
    margin-top: 0;
    }
  }
  &__block{
    margin-bottom: 40px;
    @media(min-width: 769px){
    margin-bottom: 60px;
    }
    strong{
      font-weight: 700;
      color: $blue2;
    }
  }
  &__heading{
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: $blue2;
    @media(min-width: 500px){
      font-size: 22px;
    }
    @media(min-width: 769px){
      margin-bottom: 30px;
      font-size: 30px;
    }
  }
  &__text{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 400;
    color: $grey;
    @media(min-width: 500px){
      font-size: 16px;
    }
    @media(min-width: 1025px){
      font-size: 20px
    }
  }
  &__decor{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orange;
    border-radius: 10px;
    box-shadow: 2.179px 24.905px 80.1px 9.9px rgba(0, 92, 152, 0.75);
    top: 0;
    left: 10%;
    img{
      width: 20px;
    }
    @media(min-width: 769px){
    width: 100px;
    height: 100px;
    img{
      width: auto;
    }
    }
  }
}
