.tabs{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  @media(min-width: 1025px){
    flex-direction: row;
    width: 80%;
  }
  &__content{
    @media(min-width: 1025px){
      width: 70%;
    }
  }
  &__list {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 40px;
      padding-top: 20px;
      justify-content: space-between;
      list-style: none;
      height: fit-content;
      @media(min-width: 1025px){
        justify-content: flex-start;
        padding-left: 27px;
        padding-top: 0;
        flex-direction: column;
        width: 30%;
        margin-bottom: 60px;
      }
      &:before {
        position: absolute;
        content: '';
        top: 0;
        height: 4px;
        width: 100%;
        background-color: $blue;
        @media(min-width: 1025px){
        height: 96%;
        width: 4px;
        top: 2%;
        left: 0;
        }
      }
      &-item{
        &.active{
          a{
            color: $orange;
            padding-left: 10px;
            &:before {
              content: '';
              position: absolute;
              left: calc(50% - 5px);
              top: -28px;
              width: 18px;
              height: 18px;
              transition: .3s;
              border-radius: 100%;
              background-color: $orange;
              @media(min-width: 1025px){
                top: 5px;
                left: -34px;
                width: 18px;
                height: 18px;
              }
          }

          }
        }
        &:nth-last-of-type(1){
          a{
            margin-bottom: 0;
          }
        }
      }
      &-link {
          position: relative;
          display: inline-block;
          cursor: pointer;
          transition: all ease 0.3s;
            font-weight: 700;
            color: $blue2;
            @media(min-width: 500px){
              font-size: 25px;
            }
            @media(min-width: 1025px){
              font-size: 30px;
              margin-bottom: 80px;
            }
      }
  }
  &__item {
      display: none;
      &.active {
          display: block;
      }
  }
  &__block{
    margin-bottom: 40px;
    line-height: 1.5;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
  }
  &__person{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &-img{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: $blue2;
      border-radius: 50px;
      @media(min-width: 769px){
        width: 45px;
        height: 45px;
        img{
          width: 12px;
          height: auto;
        }
      }
      img{
        width: 9px;
        height: auto;
      }
    }
  }
  &__heading{
    margin-bottom: 10px;
    font-weight: 700;
    color: $blue2;
    @media(min-width: 500px){
      font-size: 23px;
    }
    @media(min-width: 769px){
      font-size: 30px;
    }
  }
  &__text{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    color: $grey;
    @media(min-width: 500px){
      font-size: 20px;
    }
    @media(min-width: 769px){
      margin-bottom: 30px;
    }
  }
  &__name{
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500;
    color: $grey;
    @media(min-width: 500px){
      font-size: 20px;
    }
    @media(min-width: 769px){
      margin-left: 30px;
    }
  }
}
.mob{
  @media(min-width: 769px){
    display: none;
  }
}
.desk{
  @media(max-width: 768px){
    display: none;
  }
}
